*.iml
.gradle
/local.properties
/.idea/caches
/.idea
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/release/app-release.apk
/app/debug/
/app/release/baselineProfiles/0/app-release.dm
/app/release/baselineProfiles/1/app-release.dm
/key.jks
/app/release/output-metadata.json
/cookie
node_modules
/server/web/
/server/dist/
/server/frontend/dist/
/server/feedback.json
/server/uploads/
/server/data/*.db
/server/data/*.db-shm
/server/data/*.db-wal
*.log
